@CHARSET "ISO-8859-1";
/* GENERAL CSS */
* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

h2 {
	margin: 2px 4px;
	padding: 0px 4px;
}

h3 {
	text-align:center;
}

p,a,li {
	font-size: 12px;
}


label {
	height: 16px;
}

input {
	height: 16px;
}

input[type="text"],input[type="password"], div#main-content textarea {
	border: 1px solid #ddd;
	border-radius: 5px;
}

input[type="button"],input[type="submit"] {
	background: #53a8e9;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}

input[type="button"],input[type="submit"],input[type="file"], input[type="checkbox"]  {
	height:25px;
}

input[type="button"]:hover,input[type="submit"]:hover{
	cursor: pointer;
	background: #4398d9;
}



select {
	border: 1px solid #ddd;
	border-radius:5px;
}


ul {
	list-style: none;
}

a,a:active,a:visited {
	text-decoration: none;
	color: #53a8e9;
}

a:hover {
	text-decoration: underline;
	color: #53a8e9;
}


textarea {
	width: 700px;
}

/* CONTAINERS CSS */

div#wrapper{
	width: 960px;
	margin: 0 auto;
	border: 1px solid #ddd;
}

div#main {
	overflow: hidden;
	clear: both;

}


div#footer {
	clear: both;
	width: 934px;
	margin: 4px 9px;
	overflow:hidden;
	padding: 3px;	
	padding-top: 25px;
	text-align: center;
	border: 1px solid #ddd;
}

/* Header CSS */
div#header {
	width: 942px;
	margin: 4px 8px 0px 9px;
}

div#header div {
	background-image: url("../images/bg-logo.png");
	background-repeat: no-repeat;
	float: left;
	width: 276px;
	height: 130px;
}

div#header div+div {
	width: 666px;
	height: 130px;
	float: left;
	background-color: #53a8e9;
}

div#header div+div img {
	padding: 5px 5px 0 5px;
	width: 654px;
	height: 121px;
}

/* Top-menu CSS */
div#top-menu {
	width: 942px;
	height:21px;
	background-color: #53a8e9;
	margin: 0 9px 4px 9px;
	overflow: hidden;
}

div#top-menu li a {
	padding: 3px;
	color: #fff;
	border-right: 2px solid #ddd;
	float: left;
	display: block;
	font-weight:bold;
}

div#top-menu li a:hover {
	text-decoration: none;	
	color:#000;
}
/* Main-menu CSS */
div#main-menu {
	width: 934px;

	margin: 4px 9px;
	padding: 3px;
	border: 1px solid #ddd;
	position: relative;
	height: 25px;
	/* overflow: auto; */
}

div#main-menu li {
	padding-top: 5px;
	padding-right: 3px;
	float: right;
	min-width: 70px;
	text-align: right;
}

div#main-menu form {
	float: left;
}

div#main-menu>form>input[type="submit"] {
	width: 100px;
}

/* Conectar */
div#conectar {
	position: absolute;
	right: -5px;
	top: 25px;
	padding: 5px;
	border: 1px solid #ddd;
	text-align: center;
	z-index: 10;
	width: 202px;

	background: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 5px rgba(50, 50, 50, 0.75);

	display:none;
}

div#conectar label {
	font-weight: bold;
}

div#conectar input {
	display: block;
	width: 200px;
}

div#conectar input {
	display: block;
	width: 200px;
}

div#conectar input[type="submit"] {
	margin: 0 auto;
	margin-top: 5px;
}

div#conectar a {
	width: 101px;
}

div#conectar p {
	float: left;
	text-align: left;
}

div#conectar p+p {
	float: right;
	text-align: right;
}

/* Sidebar CSS */
div#sidebar {
	width: 223px;
	margin: 4px;
	margin-left: 9px;
	padding: 3px;
	float: left;
	border: 1px solid #ddd;
}

#sidebar ul {
	display: block;
}

#sidebar a {
	display: block;
}

#sidebar>ul>li {
	font-weight: bold;
	color:#000;
}

#sidebar>ul>li>a {
	font-weight: bold;
	color:#000;
}

#sidebar li li {
	padding-left: 25px;
}

#sidebar li li a:hover,#sidebar li li a {

	/* display: none; */
}



/* MAIN CONTENT */
div#main-content {
	width: 711px;
	float: left;
}

div#main-content input, div#main-content label, div#main-content textarea{
	padding: 3px;
	margin: 3px;
}

div#main-content input{
	width: 220px;
	float: left;
}


div#main-content label{
	font-weight: bold;
	width: 109px;
	float: left;
}

div#main-content .long  {
	width: 695px;
}

div#main-content select {
	width: 227px;
	height: 25px;
	margin: 3px;
	padding: 3px;
}

div#main-content input[type="submit"] {
	display: block;
	margin: 0 auto;
}

div#main-content p input[type="submit"] {
	display: inline;
	float: none;
}

div#main-content p {
	margin: 3px;
}

/* MAIN BOXES */
.box {
	width: 227px;
	min-height: 227px;
	border: 1px solid #ddd;
	float: left;
	margin: 4px;
	position: relative;
}

.box img {
	display: block;
	width: 227px;
	height: 227px;
}

.box p {
	margin: 0px 5px;
	padding-top: 3px;
}

.box p+p a {
	border-top: 1px solid #ddd;
}

.box a+p {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	bottom: 55px;
	left: 5px;
	text-align: center;
	width: 75px;
	z-index: 2;
}

.box p>a {
	height: 30px;
	display: block;
	overflow: hidden;
}

.box p+div {
	background: rgba(83, 168, 233, 0.8);
	width: 160px;
	height: 28px;
	position: absolute;
	color: #fff;
	bottom: 58px;
	width: 85px;
	left: 0px;
	z-index: 1;
}

p.descuento {
	background: rgba(0, 0, 0, 0.6);
	font-size:32px;
	font-style:italic;
	font-weight: bold;
	position: absolute;
	color: #fff;
	top:10px;
	right: -3px;
	border: none;
	padding: 0 10px;
	margin: 0;
}


/* Para la página de detalleProducto.php */
div#detalle li.descuento {
	background: rgba(0, 0, 0, 0.6);
	font-size:48px;
	font-style:italic;
	font-weight: bold;
	width: 115px;
	text-align: center;
	color: #fff;
	border: none;
	padding: 0 10px;
	display: block;
	margin: 25px auto;
}

/* FLEXSLIDER 2 */
div.flexslider {
	border: 1px solid #ddd;
	margin: 4px;
	width: 701px;
	height: 299px;
	overflow: hidden;
}

div.fondo_precio {
	background: rgba(83, 168, 233, 0.5);
	width: 160px;
	height: 65px;
	position: relative;
	color: #fff;
	bottom: 158px;
	left: 0;
	z-index: 1;
}

p.fondo_texto {
	display: block;
	position: relative;
	bottom: 445px;
	right: 10px;
	background:rgba(0, 0, 0, 0.5);
	font-size: 36px;
	font-weight: bold;
	z-index: 2;
	color:#fff;
	text-align: right;
	width:703px;


}

ul.slides a+p {
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	position: relative;
	bottom: 80px;
	/*left: 15px;*/
	text-align: center;
	width: 155px;
	z-index: 2;
}

ul.slides p+p {
	font-size: 16px;
	color: #fff;
	position: relative;
	bottom: 90px;
	/*left: 15px;*/
	text-align: center;
	width: 155px;
	text-decoration: line-through;
	z-index: 2;
}

/* DEGRADADO BARRAS */
#main-content h2 {
	background: #53a8e9; /* Old browsers */
	background: -moz-linear-gradient(left, #53a8e9 0%, #e5e5e5 57%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #53a8e9),
		color-stop(57%, #e5e5e5), color-stop(100%, #ffffff) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #53a8e9 0%, #e5e5e5 57%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #53a8e9 0%, #e5e5e5 57%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #53a8e9 0%, #e5e5e5 57%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(to right, #53a8e9 0%, #e5e5e5 57%, #ffffff 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(       startColorstr='#53a8e9',
		endColorstr='#ffffff', GradientType=1 ); /* IE6-9 */
	overflow: hidden;
	color: #fff;
	clear: both;
}

.centrado {
	text-align: center;
	clear: both;
	overflow: hidden;
}

.separacion {
	margin-top: 25px !important;
	clear: both;
	overflow: hidden;
}

div#galeria{
	clear: both;
	overflow: hidden;
}

/* DISPONIBILIDAD */
.Agotado {
	color: red;
}
.Outlet{
	color: green;
	font-style: italic;
}
.En_stock{
	color: green;
}

.Descatalogado{
	color: #bbb;	
}

.Pr_xima_reposici_n {
	color: orange;
}


.error {
	color: red;
}

.correcto {
	color: green;
}

div#categorias{
	clear:both;
	overflow: hidden;
	margin: 0;
	margin-top:25px;
	padding: 0;
}

.categoria{
	width: 227px;
	border: 1px solid #ddd;
	margin: 4px;
	float: left;
	margin: 4px;
	position: relative;
	-webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 5px rgba(50, 50, 50, 0.75);
}

div.categoria>ul>li>a {
	font-weight: bold;
	color:#000;
}


.categoria>ul>li>ul>li>a{
	font-weight: bold;
	color: #53a8e9;
}


div.categoria>ul>li {
	font-weight: bold;
	color:#000;
}

.categoria>ul>li>ul>li{
	padding-left: 25px;
	font-weight: bold;
	color: #53a8e9;
}

.categoria li li li {
	padding-left: 10px;
}

.categoria li>a {
	padding-right: 15px;
}

.categoria li li li a{
	color: #000;
	font-weight: normal;
}


.categoria img {
	margin: 2px 2px 0 0;

	/*position: absolute;
	right: 2px;*/
	float: right;
}



#sidebar>ul>li {
	font-weight: bold;
	color:#000;
}

#sidebar>ul>li>a {
	font-weight: bold;
	color:#000;
}


div.edit_image {
	float: left;
	position: relative;
	border: 2px solid rgba(0,0,0,0);

}

div.edit_image img.thumb{
	/* vacio */
}



div.edit_image.principal {
	border: 2px solid #53a8e9;

}
div.edit_image a.borrar{
	position: absolute;
	right: 0;
	bottom: 0;
}

div.edit_image a.importante{
	position: absolute;
	right: 15px;
	bottom: 0;
}



div#galeria div{
	margin: 3px;
	padding: 3px;

}

.derecha {
	clear:both;
	text-align: right;
}

div#navigator {
	text-align: center;
	font-size: 12px;
}

a.seleccionado {
	color: #ddd;
	background-color:#53a8e9;
}

a.seleccionado:hover{
	color: #fff;
	background-color:#ddd;
}


#imagenes {
	width:300px;
	float:left;
}

#imagenes {
	width:300px;
	float:left;	
}

#imagenes img{
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: 2px;
}
#detalle {
	width:400px;
	float:right;
}

#detalle p, #detalle li{
	font-size:18px;
}

#detalle b{
	color:#53a8e9;
	
}

p.descripcion>b {
	font-size:12px;
	font-style:italic;
}

#detalle span{
	font-size:64px;
	color:#53a8e9;
	font-weight:bold;
	margin: 30px;
	display: block;
	float: left;
}

div#detalle input {
	display:inline;
	width:20px;
}


#detalle .precio {

	font-size:64px;
	color:#53a8e9;
	font-weight:bold;
	display: block;
	float: left;	
	

}

#detalle .comprar_disabled {
	padding: 5px 10px;
 	font-size: 20px;
	border-radius: 5px;
	background-color: #ddd;
	color:#fff;
	float: left;
	display: block;
	margin: 26px;

}

#detalle .comprar a{
 	padding: 5px 10px;
 	font-size: 20px;
	border-radius: 5px;
	background-color: #53a8e9;
	color:#fff;
	float: left;
	display: block;
	margin: 26px;
}

#detalle .comprar a:hover{
	/*cursor: pointer;*/
	background: #4398d9;
	text-decoration: none;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	margin: 3px;
	width: 99%;
}

table tr:nth-child(2n+1) {
	background: #ddd;
} 

td, th {
	padding:3px;
	font-size: 12px;
}

td:last-child, th:last-child {
	min-width: 30px;
	text-align: right;
}

td:last-child>img {
padding: 0 2px;
}

td+td {
	text-align: center;
}

th:first-child {
	text-align: left;
}

img.slideshow {
	max-width: 703px;
	max-height: 300px;
	margin: 0 auto;
	display:block;
	
}

img.slideshow_disabled {
	opacity:0.2;
}

/* BOX2 para las busquedas, despliegue horizontal */
.box2 {
	width: 695px;
	min-height: 227px;
	border: 1px solid #ddd;
	float: left;
	margin: 4px;
	position: relative;
	padding: 3px;
}

.box2 img {
	display: block;
	width: 227px;
	height: 227px;
	position: absolute;
	right: 0;
	top:0;

}

.box2 p {
	max-width: 455px;
	margin: 0px 5px;
	padding-top: 3px;
	float: left;
}


.box2 p>a {
}


.box2 p>a {
	font-size: 20px;
	height: 30px;
	display: block;
	overflow: hidden;
}


.box2 p.descuento {
	background: rgba(0, 0, 0, 0.6);
	font-size:48px;
	font-style:italic;
	font-weight: bold;
	position: absolute;
	color: #fff;
	top:10px;
	right: -3px;
	border: none;
	padding: 0 10px;
	margin: 0;
}

.box2 .precio {
	background: rgba(83, 168, 233, 0.8);
	padding: 0px 10px;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	z-index: 2;

}

td>input[type="checkbox"]{
	height:12px;
}


div#main-menu li#carrito,
div#main-menu li#vaciar {
	background-color:#53a8e9;
	padding: 2px 10px;
	color: #fff;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
}

div#main-menu li#carrito a,
div#main-menu li#vaciar a {
	color: #fff;
}

div#main-menu li#carrito a:hover,
div#main-menu li#vaciar a:hover {
	text-decoration: none;
}

div#main-menu li#carrito:hover,
div#main-menu li#vaciar:hover {
	background: #4398d9;
}

div#main-menu li#carrito>a>b,
div#main-menu li#vaciar>a>b {
	font-size:15px;
}


div#main-menu #carrito ul {
	position: absolute; 	
	top: 25px;
}

div#main-menu #carrito li {
	position: relative;
	display: block;
	float: left;
	text-align:left;
	height: 35px;
}

li#carrito:hover {
	cursor: pointer;
}

div#main-menu ul#carrito_detalle {
	width:300px;
	right:20px;
}


div#main-menu #carrito_detalle li {
	border-bottom:1px solid #ddd;
	overflow:hidden;
	width: 99%;
}


div#main-menu #carrito_detalle li b {
	color:#53a8e9;

}

div#main-menu #carrito img {
	position: relative;
	display: block;
	float: left;
	height: 35px;
}


div#main-menu #carrito_detalle{
	/* Usado por si se muestra la página sin Javascript activado */
	float: right;
}


div#main-menu #carrito_detalle {
	z-index: 10;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 5px rgba(50, 50, 50, 0.75);
}

 ul#carrito_detalle>li>span {
 	font-weight: bold;
 	color:#000;
 	padding-top: 10px;
	display: block;
	float: left;
	width:30px;
	height: 35px;
	text-align:center;
}

ul#carrito_detalle>li>span+span {
	width:60px;

}

div#main-menu #carrito li.total_carrito {
	padding:0px;
	font-size:16px;
	font-weight:bold;
	font-style: italic;
	color:#ddd;
	text-align:right;
	width:95%;
	border: none;
}

ul#carrito_detalle>li.total_carrito>span {
	display:inline;
	float: none;
	font-size:32px;
}


td>input[type="text"]{
	width:auto !important;
	text-align: center;
}


.siguiente a{
 	padding: 5px 10px;
 	font-size: 20px;
	border-radius: 5px;
	background-color: #53a8e9;
	color:#fff;
	float: right;
	display: block;
	margin: 26px;
	width:100px;
	text-align:center;
}

.siguiente a:hover{
	background: #4398d9;
	text-decoration: none;
}

.volver a{
 	padding: 5px 10px;
 	font-size: 20px;
	border-radius: 5px;
	background-color: #53a8e9;
	color:#fff;
	float: left;
	display: block;
	margin: 26px;
	width:100px;
	text-align:center;
}

.volver a:hover{
	background: #4398d9;
	text-decoration: none;
}


div#main-content input.siguiente{
 	padding: 5px 10px;
 	font-size: 20px;
	border-radius: 5px;
	background-color: #53a8e9;
	color:#fff;
	float: right;
	display: block;
	margin: 26px;
	width:120px;
	text-align:center;
	border:none;
	font-weight: normal;
	height: 35px;
}

div#main-content input.siguiente:hover{
	/*cursor: pointer;*/
	background: #4398d9;
	text-decoration: none;
}

div.columnas>p{
	width: 345px;
	font-size: 16px;
	float: left;
}

div.columnas>p>b{
	float: right;
	text-align: right;
	color: #53a8e9;
}

div#main-content input.comprar{
 	padding: 5px 10px;
 	font-size: 20px;
	border-radius: 5px;
	background-color: #53a8e9;
	color:#fff;

	display: block;
	margin: 26px;
	width:120px;
	text-align:center;
	border:none;
	font-weight: normal;
	height: 35px;
}

div#main-content input.comprar:hover{
	/*cursor: pointer;*/
	background: #4398d9;
	text-decoration: none;
}

.Cancelado {
	color:red !important;
}

.Pagado {
	color:green  !important;
}

.Preparado {
	color:blue  !important;
}

.Enviado {
	color:blue  !important;
	font-style:italic  !important;
}

.Recibido {
	color:green  !important;
	font-weight: bold  !important;
}

input[disabled=""]{
	background:#ddd;
}
input[disabled=""]:hover{
	background:#ddd;
	cursor:default;
}


ul.texto { 
    list-style: disc inside;
}

ul.texto li{
	padding: 5px;

}

.menu-pie li{
	display: inline;
	margin: 0 25px;
	text-align: center;

}

ul.menu-pie{
}